/public/bower_components
/vendor
/public/tmp
/public/js/all.js.map
/public/js/all.js
/node_modules
Homestead.yaml
Homestead.json
.env
.idea/workspace.xml
/.idea
public/js/all.js
public/js/all.js.map
public/assets/css/all.css.map
public/assets/css/all.css
public/assets/css/all.css.map
public/assets/css/all.css
public/js/all.js
public/js/all.js
public/js/all.js
public/js/all.js