<!-- minimal feed list -->
<md-content>
    <md-list flex>
        <md-list-item class="md-3-line" ng-repeat="feed in data">
            <div class="md-list-item-text" layout="column">
                <h3>
                    <a href="/{{feed.displayname}}/{{feed.topic_slug}}" >
                        {{ feed.topic | htmlToPlaintext}}
                    </a>
                </h3>

                <p>
                    {{ feed.body | truncate: 250 | htmlToPlaintext }}

                    {{ 'KEY_BY' | translate }}

                    <a href="/{{ feed.displayname }}">{{ feed.firstname }}</a>
                </p>

            </div>
            <md-divider ></md-divider>
        </md-list-item>

    </md-list>
</md-content>