<div class="card-columns" hide-xs="" ng-if="data.length > 1">
    <div class="card" ng-repeat="img in data" >
        <img ng-src="{{img.filename}}" class="img-rounded img-fluid" style='max-width: 470px'>
    </div>
</div>

<md-card  ng-if="data.length == 1" hide-xs="">
    <img ng-src="{{data[0].filename}}" class="md-card-image" alt="Washed Out">
</md-card>

<div class="row" hide-gt-xs="">
    <md-card>
        <img ng-src="{{data[0].filename}}" class="md-card-image" alt="Washed Out">
    </md-card>
</div>
