<div>
    <span>
        <small>
            {{ 'KEY_USER_RATING' | translate }}
        </small>
    </span>
    <h3 class="md-display-1">
        {{ postCtrl.avgScore(data) }}
    </h3>
    <small>
        <a  ng-click="review_detail=true" ng-init="review_detaill=false">
            {{ 'KEY_DETAILS' | translate }}

        </a>
    </small>

    <div ng-repeat="review in data" ng-show="review_detail" >
        <span>
            <b>{{review.criteria}}</b> - {{review.scores}}
        </span>
    </div>

</div>
